<div class="container">
  <div class="reviewContainer">
    <div class="reviewMovieInfo">
      <a href="#/details/{{ReviewsVm.review.type}}/{{ReviewsVm.review.typeId}}">
        <img class="posterPic" src="http://image.tmdb.org/t/p/w342/{{ReviewsVm.movie.poster_path}}"/>
      </a>
    </div>

    <div class="reviewReviewContent">
      <h4 class="heading-medium">{{ReviewsVm.review.title}}</h4>
      <p>
        by: <a href="#/user/{{ReviewsVm.user.username}}">{{ReviewsVm.user.username}}</a> | {{ReviewsVm.review.date}}
        <br/>
        Rating: {{ReviewsVm.review.rating}}
      </p>
      <p>{{ ReviewsVm.review.content}}</p>
    </div>
  </div>
  <div class="reviewReviewInfo">
    <div class="rating-count">Rating: {{ReviewsVm.review.voteCount}}</div>
    <div class="thumbs">
      <span ng-style="isAuthenticated && ReviewsVm.review.votes[0][ReviewsVm.currentUser.user_id] === 1 && {'color':'#ED254E'}" ng-click="ReviewsVm.vote(1, isAuthenticated)"><i class="material-icons" title="Upvote">thumb_up</i></span>
      <span ng-style="isAuthenticated && ReviewsVm.review.votes[0][ReviewsVm.currentUser.user_id] === -1 && {'color':'#ED254E'}" ng-click="ReviewsVm.vote(-1, isAuthenticated)"><i class="material-icons" title="Downvote">thumb_down</i></span>
    </div>
    <div class="edit">
      <span ng-if="isAuthenticated && ReviewsVm.currentUser !== null && ReviewsVm.currentUser.user_id === ReviewsVm.review.user_id" ng-click="ReviewsVm.edit()"><i class="material-icons" title="Edit">mode_edit</i></span>
      <span ng-if="isAuthenticated && ReviewsVm.currentUser !== null && ReviewsVm.currentUser.user_id === ReviewsVm.review.user_id" ng-click="ReviewsVm.delete()"><i class="material-icons" title="Delete">delete</i></span>
    </div>

  </div>

  <h4 class="comment-Heading heading-small">Comments</h4>
  <div class="commentsContainer">
    <form class="commentPosting" ng-if="isAuthenticated" ng-submit="ReviewsVm.postComment()">
      <textarea class="commentInput" placeholder="Tell us what you thought..." ng-model="ReviewsVm.content" required></textarea>
      <button type="submit">Post</button>
    </form>
    <div class="commentPosting no-post" ng-if="!isAuthenticated">You must <a href="" ng-click="ReviewsVm.login()">login</a> to leave a comment.</div>

    <div class="comments">
      <div class="comment" ng-repeat="comment in ReviewsVm.comments">
        <a href="#/user/{{ReviewsVm.commentsUser[comment.user_id].username}}">
          <img class="commentUser" src="{{ ReviewsVm.commentsUser[comment.user_id].profilePicLink }}"/>
        </a>
        <div class="commentBody">
          <a href="#/user/{{ReviewsVm.commentsUser[comment.user_id].username}}">{{ ReviewsVm.commentsUser[comment.user_id].username }}</a>
          <p>{{ comment.content }}</p>
        </div>
        <div class="commentInfo">
          <p class="deletePost" ng-if="isAuthenticated && comment.user_id === ReviewsVm.currentUser.user_id" ng-click="ReviewsVm.deleteComment(comment)"><i class="material-icons" title="Delete">delete</i></p>
        </div>
      </div>
    </div>
    <div class="comments no-post" ng-if="ReviewsVm.comments.length === 0">
       Currently no comments...want to add one?
    </div>
  </div>
</div>
