<div class="movie">
  <img src="http://image.tmdb.org/t/p/w150/{{ReviewsVm.movie.poster_path}}"/>
  <h4>{{ReviewsVm.movie.title}}</h4>
</div>
<div class="review">
  <h4>{{ReviewsVm.review.title}}</h4>
  <p>
    by: <a href="#/user/{{ReviewsVm.user.username}}">{{ReviewsVm.user.username}}</a> | {{ReviewsVm.review.date}}
    <br/>
    Rating: {{ReviewsVm.review.rating}}
  </p>
  <p>{{ ReviewsVm.review.content}}</p>
  <span ng-style="ReviewsVm.review.votes[0][ReviewsVm.currentUser.user_id] === 1 && {'font-weight':'bold'}" ng-click="ReviewsVm.vote(1)">Upvote: {{ReviewsVm.review.voteCount}}</span>
  <span ng-style="ReviewsVm.review.votes[0][ReviewsVm.currentUser.user_id] === -1 && {'font-weight':'bold'}" ng-click="ReviewsVm.vote(-1)">Downvote</span>
  <br/>
  <span ng-if="ReviewsVm.currentUser !== null && ReviewsVm.currentUser.user_id === ReviewsVm.review.user_id" ng-click="ReviewsVm.edit()">Edit</span>
  <span ng-if="ReviewsVm.currentUser !== null && ReviewsVm.currentUser.user_id === ReviewsVm.review.user_id" ng-click="ReviewsVm.delete(review)">DELETE</span>

</div>