<div class="movie">
  <a href="#/details/{{ReviewsVm.review.type}}/{{ReviewsVm.review.typeId}}">
    <img src="http://image.tmdb.org/t/p/w150/{{ReviewsVm.movie.poster_path}}"/>
    <h4>{{ReviewsVm.movie.title}}</h4>
  </a>
</div>
<div class="review">
  <h4>{{ReviewsVm.review.title}}</h4>
  <p>
    by: <a href="#/user/{{ReviewsVm.user.username}}">{{ReviewsVm.user.username}}</a> | {{ReviewsVm.review.date}}
    <br/>
    Rating: {{ReviewsVm.review.rating}}
  </p>
  <p>{{ ReviewsVm.review.content}}</p>
  <span ng-style="isAuthenticated && ReviewsVm.review.votes[0][ReviewsVm.currentUser.user_id] === 1 && {'font-weight':'bold'}" ng-click="ReviewsVm.vote(1, isAuthenticated)">Upvote: {{ReviewsVm.review.voteCount}}</span>
  <span ng-style="isAuthenticated && ReviewsVm.review.votes[0][ReviewsVm.currentUser.user_id] === -1 && {'font-weight':'bold'}" ng-click="ReviewsVm.vote(-1, isAuthenticated)">Downvote</span>
  <br/>
  <span ng-if="isAuthenticated && ReviewsVm.currentUser !== null && ReviewsVm.currentUser.user_id === ReviewsVm.review.user_id" ng-click="ReviewsVm.edit()">Edit</span>
  <span ng-if="isAuthenticated && ReviewsVm.currentUser !== null && ReviewsVm.currentUser.user_id === ReviewsVm.review.user_id" ng-click="ReviewsVm.delete()">DELETE</span>
</div>

<div class="commentsContainer">
  <h4>Comments</h4>
  <form ng-if="isAuthenticated" ng-submit="ReviewsVm.postComment()">
    <h6>Leave A Comment</h6>
    <textarea placeholder="Tell us what you thought..." ng-model="ReviewsVm.content" required></textarea>
    <input type="submit">
  </form>
  <div ng-if="!isAuthenticated">You must <a href="" ng-click="ReviewsVm.login()">login</a> to leave a comment.</div>

  <div>
    <div class="comment" ng-repeat="comment in ReviewsVm.comments">
      <a href="#/user/{{ReviewsVm.commentsUser[comment.user_id].username}}">
        <img src="{{ ReviewsVm.commentsUser[comment.user_id].profilePicLink }}"/>
        <p>{{ ReviewsVm.commentsUser[comment.user_id].username }}</p>
      </a>
      <p>comment: {{ comment.content }}</p>
      <p ng-if="isAuthenticated && comment.user_id === ReviewsVm.currentUser.user_id" ng-click="ReviewsVm.deleteComment(comment)">DELETE</p>
    </div>
  </div>
  <div class="noComments" ng-if="!ReviewsVm.hasComments">
     Currently no comments...want to add one?
  </div>
</div>
