/* Keeps brackets form rendering on page before informaiton has been retrieved */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

body {
  /*background-image: url('https://static.pexels.com/photos/65128/pexels-photo-65128.jpeg');*/
  background-size: cover;
}

/* Header/Navbar styles */

/*.logo {
  height: 40px;
  width: 40px;
}

.nav-buttons {
  float: right;
}

.nav-logo {
  color: black;
}*/

/* Landing Page */

/*.poster-container {
  width: 193px;
  height: 280px;
  padding: 4px;
}*/

/*.poster-container img {
  margin: auto;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}*/

/*.landing h2 {
  color: #00008B;
  text-align: center;
}*/

/* Remove some default styling from tags */

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: black;
}

/* User page */

.user {
  width: 100%;
}

/*.user-menu, .user-details, .user-panel, .user-selection, .user-favorites-view, .user-overview-view, .user-reviews, .media-container, .account {
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  border: 3px solid #d2d2d2;
  border-radius: 5px;
  padding: 5%;
}*/

/*.user-info {
  width: 50%;
}

.user-menu a {
  font-size: 16px;
}

.user-menu li {
  display: inline;
}

.profile-pic-lg {
  height: 180px;
  width: auto;
}

.profile-pic-sm {
  height: 100px;
  width: auto;
}*/

/*Search Results */

/*.pages {
  float: right;
  margin-right: 20px;
}*/

/*.page {
  padding: 5px;
}

.results {
  margin-left: 25%;
}

.result, .pages {
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  margin-bottom: 2%;
  border: 3px solid #d2d2d2;
  border-radius: 5px;
  position: relative;
}*/

/*.result-title {
  display: inline-block;
  color: black;
  width: 50%;
}*/

/*.result-overview {
  display: inline-block;
  width: 40%;
  color: black;
  margin: 8px;
}*/

/* Details page */

/*.media-container {
  width: 100%;
  float: left;
}

.media-list li {
  float: left;
}*/

/*.moviePoster {
  width: 50%;
  margin-right: 0;
  display: inline;
  padding-left: 2%;
}*/

/*.moviePoster {
  position: fixed;
  right: 5%;
  height: 85%;
  width: auto;
}*/

/*.showtimes {
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  border: 3px solid #d2d2d2;
  border-radius: 5px;
  margin: 5px;
  position: fixed;
  right: 5%;
  height: 85%;
  overflow-y: scroll;
}*/

/*.movieDetails, .reviewDetails, .postReview, .noReviews, .edit-account, .actor {
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  border: 3px solid #d2d2d2;
  border-radius: 5px;
  margin: 5px;
  width: 50%;
}*/

/*.details-col1 {
  float: left;
  padding-left: 2%;
}*/

/*.details-col2 {
  float: right;
  padding-right: 5%;
}*/

/*.showtime-title {
  font-weight: 600;
  font-size: 18px;
}*/


/* Reviews */

/*.movie, .review, .commentsContainer {
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  border: 3px solid #d2d2d2;
  border-radius: 5px;
  margin: 5px;
  width: 30%;
  height: auto;
}*/

/* Edit Reviews */

/*.edit-review {
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  border: 3px solid #d2d2d2;
  border-radius: 5px;
  margin: 5px;
  width: 50%;
  height: auto;
}

.edit-review form {
  padding: 10% 35%;
}*/


/* move/tv detail page */

.container {
  border: solid black 1px;
  width: 1100px;
}

.details {
  position: relative;
  width: 50%;
  vertical-align:top;
}

.reviewDetails {
  position: relative;
  border: black solid 1px;
}

.casts, .reviewUser, .reviewBody, .moviePoster, .details, .showtimeForm, .showtimeResults, .resultPoster, .resultInfo, .page, .poster-container, .profileLeft, .profileRight, .favoriteNav, .poster, .reviewMovieInfo, .reviewReviewInfo, .commentUser, .commentBody{
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.reviewBody{
  position: relative;
  width: 80%;
  border: black solid 1px;

}

.reviewUser{
  position: relative;
  border: black solid 1px;
  vertical-align:top;
}

.reviewDP {
  position: relative;
  width: 60px;
  margin-top: -18px;
}

.reviews {
  border: black solid 1px;
  position: relative;
  width: 90%;
}

.inputBox{
  position: relative;
  width: 80%;
}

.inputTitle{
  position: relative;
  width: 60%;
}

.posting {
  border: black solid 1px;
  position: relative;
  width: 60%;
}

.showtimes{
  border: black solid 1px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.showtimeResults{
  position: relative;
  height: 200px;
  width: 50%;
  overflow-y: scroll;
  border: black solid 1px;
}

.showtimeForm{
  position: relative;
  width: 40%;
  border: black solid 1px;
  vertical-align:top;
}

/* search result page */

.result {
  position: relative;
  border: black solid 1px;
  margin-bottom: 30px;
}

.resultInfo {
  position: relative;
  border: black solid 1px;
  width: 60%;
  vertical-align:top;
}

/* landing page */
.poster-container {
  margin-right: 0px;
}

/* User profile page */
.profileLeft {
  position: relative;
  width: 35%;
  vertical-align:top;
  border: black solid 1px;
}

.profileRight {
  position: relative;
  width: 55%;
  border: black solid 1px;
}

.profilePic {
  position: relative;
  width: 250px;
}

.aboutUser, .overviewReview{
  position: relative;
  border: black solid 1px;
  width: 90%;
}

.user-review {
  position: relative;
  border: black solid 1px;
  width: 90%;
}

.favoriteNav {
  margin-right: 0px;
}

/* review page */
.reviewReviewInfo{
  position: relative;
  width: 65%;
  vertical-align:top;
  border: black solid 1px;
}

.commentsContainer{
  position: relative;
  width: 75%;
  border: black solid 1px;
  margin-top: 20px;g
}

.commentInput {
  position: relative;
  width: 50%;
  height: 50px;
}

.comment {
  position: relative;
  width: 75%;
  border: black solid 1px;
  margin-top: 15px;
}

/* edit review page */
.editContent {
  position: relative;
  width: 80%;
  height: 100px;
}

.editTitle {
  position: relative;
  width: 50%;
}