/* Keeps brackets form rendering on page before informaiton has been retrieved */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

body {
  background-image: url('https://static.pexels.com/photos/65128/pexels-photo-65128.jpeg');
  background-size: cover;
}

/* Header/Navbar styles */

.logo {
  height: 40px;
  width: 40px;
}

.nav-buttons {
  float: right;
}

.nav-logo {
  color: #fff;
}

/* Landing Page */

.poster-container {
  width: 193px;
  height: 280px;
  padding: 4px;
}

.poster-container img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

.landing h2 {
  color: #00008B;
  text-align: center;
}

/* Remove some default styling from a and li tags */

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* User page */

.user-menu li {
  display: inline;
}

.profile-pic-lg {
  height: 180px;
  width: auto;
}

/*Search Results */

.pages {
  float: right;
  margin-right: 20px;
}

.page {
  padding: 5px;
}

.results {
  margin-left: 25%;
}

.result {
  background: linear-gradient(135deg, #a7cfdf 0%,#23538a 100%);
  margin-bottom: 2%;
  border: 3px solid black;
  border-radius: 5px;
  position: relative;
}

.result-title {
  display: inline-block;
  color: white;
  width: 50%;
}

.result-overview {
  display: inline-block;
  width: 40%;
  color: white;
  margin: 8px;
}

/* Details page */

.media-container {
  width: 100%;
  float: left;
}

.media-list li {
  float: left;
}

.moviePoster {
  width: 50%;
  margin-right: 0;
  display: inline;
  padding-left: 2%;
}

.details-col1 {
  float: left;
  padding-left: 2%;
}

.details-col2 {
  float: right;
  padding-right: 5%;
}

.showtime-title {
  font-weight: 600;
  font-size: 18px;
}

.profile-pic-sm {
  height: 100px;
  width: auto;
}