[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.logo {
  height: 40px;
  width: 40px;
}

.nav-buttons {
  float: right;
}

.nav-logo {
  color: #fff;
}

.user-menu li {
  display: inline;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.media-container {
  width: 100%;
  float: left;
}

.media-list li {
  float: left;
}

.poster-container {
  width: 193px;
  height: 280px;
  padding: 4px;
}

.poster-container img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.pages {
  float: right;
  margin-right: 20px;
}

.page {
  padding: 5px;
}

.moviePoster {
  width: 50%;
  margin-right: 0;
  display: inline;
  padding-left: 2%;
}

.details-col1 {
  float: left;
  padding-left: 2%;
}

.details-col2 {
  float: right;
  padding-right: 5%;
}

.showtime-title {
  font-weight: 600;
  font-size: 18px;
}

.profile-pic-sm {
  height: 100px;
  width: auto;
}

.profile-pic-lg {
  height: 180px;
  width: auto;
}