[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

.logo {
  height: 40px;
  width: 40px;
}

.nav-buttons {
  float: right;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.media-container {
  width: 100%;
  float: left;
}

.media-list li {
  float: left;
}

.poster-container {
  width: 193px;
  height: 280px;
  padding: 4px;
}

.poster-container img {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}