<div ng-controller="DetailsController">
 <div class='moviePoster'>
    <!-- If no poster_path, show dummy image -->
    <img ng-hide="!poster_path" src="http://image.tmdb.org/t/p/w185/{{poster_path}}" alt="">
    <img ng-show="!poster_path" src="http://dummyimage.com/185x275/000/fff&text={{original_name}}" alt="">
  <div class="details-col2">
     <div class="showtimes">
       <h5>Showtimes</h5>
         <form ng-submit="getShowtimes()">
           <p>Enter your zip code below to get showtimes for this movie near you today.</p>
           <p>Zip Code: </p><input type="text" ng-model="zip">
         </form>
         <ul>
           <li ng-repeat="movie in showtimes">
             <p ng-if="movie.title === original_title"  class="showtime-title">{{ movie.title }}</p>
             <ul ng-if="movie.title === original_title" >
               <li ng-repeat="showtime in movie.showtimes" class="showtime">
                 {{ showtime.theatre.name }}: {{ showtime.dateTime.slice(11) }}
               </li>
             </ul>
           </li>
         </ul>
         <p ng-if="hasNoShowtime">This movie is not currently in theatres near you!</p>
     </div>
   </div>
 </div>
 <div class="details-col1">
   <div class='movieDetails'>
      <h3 ng-if="original_name === undefined"> {{original_title}} </h3>
      <h3 ng-if="original_title === undefined"> {{original_name}} </h3>
      <h5 ng-if="data.release_date !== undefined">Release Date</h5>
      <p ng-if="data.release_date !== undefined">{{data.release_date}}</p>
      <h5 ng-if="data.runtime !== undefined">Movie Length</h5>
      <p ng-if="data.runtime !== undefined">{{data.runtime}} minutes</p>

      <h5 ng-if="data.first_air_date !== undefined">First Air Date</h5>
      <p ng-if="data.first_air_date !== undefined">{{data.first_air_date}}</p>
      <h5 ng-if="data.episode_run_time[0] !== undefined">Episode Length</h5>
      <p ng-if="data.episode_run_time[0] !== undefined">{{data.episode_run_time[0]}} minutes</p>
      <h5>Overview</h5>
      <p> {{overview}} </p>
      <h5>Lead Cast</h5>
      <ul>
        <a ng-repeat="actor in actors" href="https://en.wikipedia.org/wiki/{{actor}}">
          <li>{{ actor }}</li>
        </a>
      </ul>
   </div>
 </div>
 <div class="postReview">
  <h5>Reviews</h5>
  <form ng-submit="post()">
    <h6>Title</h6>
    <input type="text" placeholder="Title" ng-model="reviewTitle" required>
    <h6>Comment</6>
    <textarea placeholder="Tell us what you thought..." ng-model="reviewBody" required></textarea>
    <h6>Rating</h6>
    <select ng-model="reviewRating" required>
      <option selected disabled value="">--Select Rating--</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit">
  </form>
 </div>

 <div class="noReviews" ng-if="!hasReview">
   Currently no reviews...want to add one?
 </div>
 <div class="reviewDetails" ng-repeat="review in reviews">
   <h5>Username: {{users[review.user_id].username}}</h5>
   <img src="{{users[review.user_id].profilePicLink}}"/>
   <strong> Title: {{review.title}} </strong> <small> Rating: {{review.rating}} </small>
    <p>Review: {{review.content}}
      <br>
      Date: {{review.date}}
      <br>
      <span ng-click="vote(review, 1)">Upvote: {{review.voteCount}}</span>
      <span ng-click="vote(review, -1)">Downvote</span>
      <br>
      <span ng-if="currentUser !== null && currentUser.user_id === review.user_id" ng-click="">Edit</span>
      <span ng-if="currentUser !== null && currentUser.user_id === review.user_id" ng-click="delete(review)">DELETE</span>
    </p>
 </div>
</div>