  <div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-show="!DetailsVm.hasFavorite" ng-if="isAuthenticated" ng-click="DetailsVm.addToFavorites()">
      Add to favorites
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-show="DetailsVm.hasFavorite" ng-if="isAuthenticated" ng-click="DetailsVm.deleteFavOrWatch('favorites')">
      Remove from favorites
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-show="!DetailsVm.hasWatched" ng-if="isAuthenticated" ng-click="DetailsVm.addToWatchedList()">
      Add to watched list
    </button>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" ng-show="DetailsVm.hasWatched" ng-if="isAuthenticated" ng-click="DetailsVm.deleteFavOrWatch('watched')">
      Remove from watched list
    </button>
  </div>