<div class="postReview">
  <form class="posting" ng-if="isAuthenticated" ng-submit="DetailsVm.post()">
    <input class="inputTitle" type="text" placeholder="Title" ng-model="DetailsVm.reviewTitle" required>
    <select class="inputRating" ng-model="DetailsVm.reviewRating" required>
      <option selected disabled value="">--Select Rating--</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <textarea class="inputBox" placeholder="Tell us what you thought..." ng-model="DetailsVm.reviewBody" required></textarea>
    <button class="postButton" type="submit">POST</button>
  </form>
  <div class="posting no-post" ng-if="!isAuthenticated">You must <a href="" ng-click="DetailsVm.login()">login</a> to write a review.</div>
</div>