<div class="postReview">
  <h5>Reviews</h5>
  <form ng-if="isAuthenticated" ng-submit="DetailsVm.post()">
    <h6>Title</h6>
    <input type="text" placeholder="Title" ng-model="DetailsVm.reviewTitle" required>
    <h6>Comment</6>
    <textarea placeholder="Tell us what you thought..." ng-model="DetailsVm.reviewBody" required></textarea>
    <h6>Rating</h6>
    <select ng-model="DetailsVm.reviewRating" required>
      <option selected disabled value="">--Select Rating--</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit">
  </form>
  <div ng-if="!isAuthenticated">You must <a href="" ng-click="DetailsVm.login()">login</a> to write a review.</div>
</div>