<div class="reviewDetails" ng-repeat="review in DetailsVm.reviews">
  <div class="reviewUser">
    <a href="#/user/{{DetailsVm.users[review.user_id].username}}"><img class="reviewDP" src="{{DetailsVm.users[review.user_id].profilePicLink}}"/></a>
  </div>

  <div class="reviewBody">
  <a href="#/review/{{review._id}}"><strong> {{review.title}}</strong></a>
  <p>by: <a href="#/user/{{DetailsVm.users[review.user_id].username}}"><strong>{{DetailsVm.users[review.user_id].username}}</strong></a> | {{review.rating}}★</p>
  <p>{{review.content}}</p>
  </div>

  <div class="reviewInfo">
    <span>{{review.date}} | </span>
    <span ng-style="isAuthenticated && review.votes[0][DetailsVm.currentUser.user_id] === 1 && {'font-weight':'bold'}" ng-click="DetailsVm.vote(review, 1, isAuthenticated)"><i class="material-icons">thumb_up</i>: {{review.voteCount}} • </span>
    <span ng-style="isAuthenticated && review.votes[0][DetailsVm.currentUser.user_id] === -1 && {'font-weight':'bold'}" ng-click="DetailsVm.vote(review, -1, isAuthenticated)"><i class="material-icons">thumb_down</i></span>
    <span ng-if="isAuthenticated && DetailsVm.currentUser !== null && DetailsVm.currentUser.user_id === review.user_id" ng-click="DetailsVm.edit(review._id)"> <i class="material-icons">edit</i></span>
    <span ng-if="isAuthenticated && DetailsVm.currentUser !== null && DetailsVm.currentUser.user_id === review.user_id" ng-click="DetailsVm.delete(review)"><i class="material-icons">delete</i></span>
  </div>
</div>