<div class="reviewDetails" ng-repeat="review in DetailsVm.reviews">
  <div class="reviewUser">
    <a href="#/user/{{DetailsVm.users[review.user_id].username}}"><img class="reviewDP" src="{{DetailsVm.users[review.user_id].profilePicLink}}"/></a>
  </div>

  <div class="reviewBody">
  <a class="review-title" href="#/review/{{review._id}}">{{review.title}}</a>
  <p>by: <a href="#/user/{{DetailsVm.users[review.user_id].username}}">{{DetailsVm.users[review.user_id].username}}</a> | {{review.rating}}★</p>
  <!-- Limits content to first 200 characters, only add ellipses when needed -->
  <p style="white-space: pre-wrap">{{review.content | limitTo: 600}}<span ng-if="review.content.length > 600"><a href="../#/review/{{review._id}}">...read more</a></span></p>

  </div>

  <div class="reviewInfo">
    <span class="postDate">Posted on: {{review.date}}</span>
    <div class="rating">
      <div class="rating-count">Rating: {{review.voteCount}}</div>
      <div class="thumbs">
        <span ng-style="isAuthenticated && review.votes[0][DetailsVm.currentUser.user_id] === 1 && {'color':'#ED254E'}" ng-click="DetailsVm.vote(review, 1, isAuthenticated)"><i class="material-icons" title="Upvote">thumb_up</i></span>
        <span ng-style="isAuthenticated && review.votes[0][DetailsVm.currentUser.user_id] === -1 && {'color':'#ED254E'}" ng-click="DetailsVm.vote(review, -1, isAuthenticated)"><i class="material-icons" title="Downvote">thumb_down</i></span>
      </div>
    </div>
  </div>
</div>