<div class="showtimes">
  <form class="showtimeForm" ng-submit="DetailsVm.getShowtimes()">
    <p>Enter your zip code below to get showtimes for this movie near you today.</p>
    <p>Zip Code: </p><input type="text" ng-model="DetailsVm.zip">
  </form>

  <div class="showtimeResults">
    <div ng-repeat="movie in DetailsVm.showtimes">
      <div ng-if="movie.title === DetailsVm.original_title" >
        <div ng-repeat="showtime in movie.showtimes" class="showtime">
          {{ showtime.theatre.name }}: {{ showtime.dateTime.slice(11) }}
        </div>
      </div>
    </div>

    <p ng-if="DetailsVm.hasNoShowtime">This movie is not currently in theatres near you!</p>
  </div>

</div>