<div>
  <h5 class="heading-small">Favorite movies:</h5>
  <div class="">
    <!-- No favs message -->
    <p ng-show="!UserVm.hasItems('favorites', 'movie')">This user has not added any movies to their favorites.</p>
    <div class="poster" ng-show="favorite.type === 'movie'" ng-repeat="favorite in UserVm.favorites">
      <div class="poster-container">
        <a href="../#/details/{{favorite.type}}/{{favorite.id}}">
        <!-- If no poster_path, show dummy image -->
          <img ng-hide="!favorite.picture" src="http://image.tmdb.org/t/p/w185{{favorite.picture}}" alt="">
          <img ng-show="!favorite.picture" src="http://dummyimage.com/185x275/000/fff&text={{favorite.title}}" alt="">
        </a><br>
        <button ng-show="UserVm.protected" ng-click="UserVm.deleteFavOrWatch('favorites', favorite)">Remove from favorites</button>
      </div>
    </div>
  </div>
</div>