<div class="user-favorites-view">
  <div class="favorite-type-selector">
    <ul class="favorite-type-selector">
      <li>Movies</li>
      <li>TV shows</li>
    </ul>
  </div>

  <h5>Favorite movies:</h5>
  <ul class="user-favorites-movies">
    <li ng-repeat="favorite in favorites" ng-if="{{favorite.type === 'movie'}}">{{favorite.poster_path}}</li>
  </ul>

  <h5>Favorite TV shows:</h5>
  <ul class="user-favorites-tv">
    <li ng-repeat="favorite in favorites" ng-if="{{favorite.type === 'tv'}}">{{favorite.poster_path}}</li>
  </ul>
</div>