<div class="container">
  <!-- User profile menu  -->
  <div>
  <!-- Left column (static user info) -->
  <div class="profileLeft">
    <img class="profilePic" src={{UserVm.profilePic}} alt="profile pic goes here">
    <h5>User details</h5>
    <a ng-show="UserVm.protected" href="/#/editAccount">Update my account</a>
    <p>Username: {{UserVm.username}}</p>
    <p>Full name: {{UserVm.fullName}}</p>
    <p><i class="material-icons">stars</i> {{UserVm.joinDate}}</p>
    <p><i class="material-icons">room</i> {{UserVm.location}}</p>
  </div>

  <div class="profileRight">
    <div class="profileNav">
      <a href="" ng-click="UserVm.currentView = 'overview'">Overview</a> |
      <a href="" ng-click="UserVm.currentView = 'reviews'">Reviews</a> |
      <a href="" ng-click="UserVm.currentView = 'favorites'">Favorites</a> |
      <a href="" ng-click="UserVm.currentView = 'watchlist'">Watched</a>
    </div>

    <ui-view></ui-view>
    <user-overview ng-show="UserVm.currentView==='overview'"></user-overview>
    <user-reviews ng-show="UserVm.currentView==='reviews'"></user-reviews>
    <user-favorites ng-show="UserVm.currentView==='favorites'"></user-favorites>
    <user-watchlist ng-show="UserVm.currentView==='watchlist'"></user-watchlist>
  </div>
</div>