<div class="user-reviews">
  <h5>All of {{UserVm.username}}'s reviews:</h5>
  <div class="user-reviews">
    <!-- No reviews message -->
    <p ng-show="!UserVm.hasItems('reviews')">This user has not written any reviews yet.</p>
    <div ng-repeat="review in UserVm.reviews">
      <p class='review-title'><a href="../#/review/{{review._id}}">{{review.title}}</a></p>
      <p class='review-date'>{{review.date}}</p>
      <p class='review-content'>{{review.content | limitTo: 200}}<span ng-if="review.content.length > 200"><a href="../#/review/{{review._id}}">...read more</a></span></p> <!-- Limits content to first 200 characters, only add ellipses when needed -->
    </div>
  </div>
</div>

