<div class="user-favorites-view">
  <div class="favorite-menu">
    <div class="favorite-menu">
    <!--Selection menu for favorites sub-view -->
      <a href="" ng-click="UserVm.currentFavoriteView = 'movies'"><div class="favoriteNav">Movies •</div></a>
      <a href="" ng-click="UserVm.currentFavoriteView = 'tv'"><div class="favoriteNav">TV shows</div></a>
    </div>
  </div>
  <!--Favorites are split into two categories and rendered as selected, movies are default -->
  <favorite-movies ng-show="UserVm.currentFavoriteView === 'movies'"></favorite-movies>
  <favorite-tv ng-show="UserVm.currentFavoriteView === 'tv'"></favorite-tv>

</div>