<div class="user-favorites-view">
  <div class="favorite-menu">
    <div class="favorite-menu">
      <a href="" ng-click="UserVm.currentFavoriteView = 'movies'"><div class="favoriteNav">Movies •</div></a>
      <a href="" ng-click="UserVm.currentFavoriteView = 'tv'"><div class="favoriteNav">TV shows</div></a>
    </div>
  </div>

  <favorite-movies ng-show="UserVm.currentFavoriteView === 'movies'"></favorite-movies>
  <favorite-tv ng-show="UserVm.currentFavoriteView === 'tv'"></favorite-tv>

</div>