<div ng-controller="UserController">
  <!-- Left column (static user info) -->
  <div class="user-details">
    <img class="profile-pic" src={{profilePic}} alt="profile pic goes here">
    <h5>User details</h5>
    <p>Username: {{username}}</p>
    <p>Email: {{email}}</p>
    <p>Joined on: {{joined_on}}</p>
    <p>Location: {{location}}</p>
  </div>


  <!-- Overview view -->
  <div class="user-overview-view">
    <h5>{{username}}'s latest reviews:</h5>
    <ul class="user-reviews">
      <li ng-repeat="review in reviews | limitTo:3">
        <p class='review-title'><a href="../#/{{review.type}}/{{review.typeId}}">{{review.title}}</a></p>
        <p class='review-date'>{{review.date}}</p>
        <p class='review-content'>{{review.content | limitTo: 140}}<span ng-if="review.content.length > 140"><a href="../#/{{review.type}}/{{review.typeId}}">...read more</a></span></p> <!-- Limits content to first 140 characters, only add ellipses when needed -->
      </li>
    </ul>
  </div>

  <!-- Favorites view -->
  <div class="user-favorites-view">
    <h5>Favorite movies:</h5>
    <ul class="user-favorites-movies">
      <li ng-repeat="favorite in favorites" ng-if="{{favorite.type === 'movie'}}">Placeholder: A favorited movie show</li>
    </ul>
    <h5>Favorite TV shows:</h5>
    <ul class="user-favorites-tv">
      <li ng-repeat="favorite in favorites" ng-if="{{favorite.type === 'tv'}}">Placeholder: A favorited tv show</li>
    </ul>
  </div>

</div>