<div ng-controller="AccountController">
  <div class="account-details">
    <img class="profile-pic" src={{profilePic}} alt="profile pic goes here">
    <h5>Account details</h5>
    <p>Username: {{username}}</p>
    <p>Email: {{email}}</p>
  </div>

  <div class="account-activity">
    <h5>Account activity</h5>
    <h6>{{username}}'s latest reviews:</h6>
    <ul class="account-reviews">
      <li ng-repeat="review in reviews | limitTo:10">
        <p class='review-title'>{{review.title}}</p>
        <p class='review-date'>{{review.date}}</p>
        <p class='review-content'>{{review.content | limitTo: 140}}<span ng-if="content.length > 140">...</span></p> <!-- Limits content to first 140 characters, only add ellipses when needed -->
      </li>
    </ul>
    <h6>Favorites:</h6>
    <ul class="account-favorites">
      <li ng-repeat="favorite in favorites | limitTo:10">Placeholder: A favorited show</li>
    </ul>
    <h6>Recently viewed movies and TV shows:</h6>
    <ul class="recently-viewed">
      <li ng-repeat="viewed in recentlyViewed | limitTo:10"></li>
    </ul>
  </div>

</div>