<div class="container">
  <form name="editAccountForm" class="editAccount">
    <h5 class="heading-medium">Edit Account Details</h5>

    <p>Username: <input name="username" ng-change="AccountVm.usernameTaken(AccountVm.username)" type="text" value="{{AccountVm.username}}" ng-pattern="/(?=^.{3,20}$)^[a-zA-Z][a-zA-Z0-9]*[._-]?[a-zA-Z0-9]+$/" ng-model="AccountVm.username" required>
      <!-- Input validation -->
      <span class="warning" ng-show="editAccountForm.username.$error.required">Please enter a username.</span>
      <span class="warning" ng-show="editAccountForm.username.$error.pattern">That username is not valid</span>
      <span class="warning" ng-show="AccountVm.username !== AccountVm.originalUsername && editAccountForm.username.$dirty && AccountVm.taken">Sorry, that username is taken. Choose another.</span>
    </p>

    <p>Fullname: <input name="fullName" type="text" ng-model="AccountVm.fullName" required></p>

    <p>Email: {{AccountVm.email}}</p>

    <p>Location: <input name="location" type="text" value="{{AccountVm.location}}" ng-model="AccountVm.location"></p>

    <div>About:</div>
    <textarea name="about" value="{{AccountVm.about}}" ng-model="AccountVm.about" cols="40" rows="5"></textarea>

    <br/>
    <!-- Disables submit button if form is invalid or if the username is already taken -->
    <button style="background-color:#ED254E; color: white;" ng-click="AccountVm.deleteUser()">Delete user account</button>
    <div class="update">
      <button ng-disabled="editAccountForm.$invalid || (AccountVm.taken && AccountVm.username !== AccountVm.originalUsername)" ng-click="AccountVm.update()" type="submit">Update profile</button>
      <button ng-click="AccountVm.cancel()" type="Submit">Cancel</button>
    </div>

  </form>

</div>
